/* EditorView.css */
.editor-container {
  height: calc(100% - 32px);
  margin: 0 auto;
  width : 90vw;
}
.editor-toolbar {
  height: 32px;
  display:flex;
  flex-direction: row-reverse;
}

.cm-editor {
  height: 100%;
}





